.round-border {
	padding: 1em;
	border: .1em dashed;
	border-radius: 3em;
}

#controls .control-section:not(:first-child) {
	margin-top: 1em;
}

#control-section-inputs .flex-container {
	margin-top: .25em;
}

input[type=number] {
	max-width: 3em;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	/*align-items: flex-start;*/
	/*flex-direction: row;*/
}

.space-between {
	justify-content: space-around;
}

.row div:not(:first-child) {
    margin-left: .25em;
}

.col {
	/*flex-direction: column;*/
}


/* touchscreen e.g. mobile */
@media only screen and (hover: none) and (pointer: coarse){
    .flex-responsive-section {
        flex: 100%;
    }
    label {
        font-size: 20px;
    }
    :not(label) {
        font-size: 14px;
    }
}


/* monitor */
@media not screen and (hover: none) and (pointer: coarse) {
    @media (max-width: 768px) {
        .flex-responsive-section {
            flex: 100%;
        }
    }
    @media (min-width: 768px) and (max-width : 1024px) {
		.flex-responsive-section {
			flex: 50%;
		}
	}
    @media (min-width : 1024px) {
		.flex-responsive-section {
			flex: 25%;
		}
	}
}